body{
    background-color: black;
    color: white;
}

h1{
    color: green;
}

header>p{
    color: blue;
    font-weight: bolder;
}

h2{
    color: orange;
}

p.p2-1{
    color: blue;
    font-weight: bolder;
}
p.p2-2{
    color: yellow;
    font-style: italic;
}
p.p2-3{
    color: red;
    font-family: monospace;
}

p.Unieke{
    color: yellow;
    font-style: italic;
    background-color: red;
    
}

footer{
    color: red;
    font-family: monospace;
    text-decoration-line: underline;
}