portfolio website en/of je GitHub account
aangeven hoe ik het beste je huidige kennis en ervaring kan beoordelen?  Dit kun je doen door bijvoorbeeld te verwijzen naar geschreven code of door mij voorbeelden van commits te sturen die je hebt gemaakt
Ik zou graag enkele voorbeeldprojecten of geschreven code zien die ik kan beoordelen.